.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-large);
  padding: var(--space-m) var(--space-s) var(--space-m) var(--space-l);
  background-color: (var(--color-white));
  position: fixed;
  top: 0;
  width: 100%;

  &__left-side, &__right-side {
    display: flex;
    align-items: center;
    color: var(--color-text-header);
  }

  &__left-side {
    color: var(--color-text-header);
    gap: var(--space-xs);
  }
}